@keyframes pulse {
  0% {
    opacity: .6;
  }

  100% {
    opacity: 1;
  }
}

html,
body,
main {
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  background: black;
}

main {
  background: url('../screen-background-only@4x.png');
  background-size: cover;
  background-position: center;
  animation: pulse 2s linear infinite alternate;
}

img {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
}